/* Table style */
.table-container th.asc:after {
    content: '\0000a0\0025b2';
    float: right;
  }
  
  .table-container th.desc:after {
    content: '\0000a0\0025bc';
    float: right;
  }
  
  .table-container table td:nth-child(1) {
    width: 5%;
  }
  
  .table-container table td:nth-child(2) {
    width: 20%;
  }
  
  .table-container table td:nth-child(3) {
    width: 50%;
  }
  
  /* Progress bar */
  .progress {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
    position: relative;
  }
  
  .progress {
    opacity: 0;
  }
  
  .htmx-request .progress {
    opacity: 1;
  }
  .htmx-request.progress {
    opacity: 1;
  }
  
  .progress .indeterminate {
    background-color: blue;
  }
  
  .progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  }
  .progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
  }
  
  /* Custon style */
  #content-nav {
    padding: 2vh;
    z-index: 15;
  }

  #content-div {
    background-color: #F4D793;
  }

  #map {
    height: 100%;
    width: 60%;
  }
  
  .name-tag {
    background-color: #4285F4;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
  }
  
  .name-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4;
  }
  
  /*
 * User styles in unhighlighted state.
 */
.user {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #263238;
  display: None;
  font-size: 14px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  position: relative;
  transition: all 0.3s ease-out;
  width: 30px;
}

.user::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFFFFF;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
  z-index: 1;
}

.user > .icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.user > .icon svg {
  height: 20px;
  width: auto;
}

.user > .details {
  display: none;
  flex-direction: column;
  flex: 1;
}

.user > .details > .address {
  color: #9E9E9E;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.user > .details > .features {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user > .details > .features > div {
  align-items: center;
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  font-size: 10px;
  gap: 5px;
  padding: 5px;
}

/*
 * User styles in highlighted state.
 */

  .highlight > .user {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 80px;
    padding: 8px 15px;
    width: auto;
    display: flex;
  }
  
  highlight > .user::after {
    border-top: 9px solid #FFFFFF;
  }
  
  .highlight > .user > .details {
    display: flex;
  }
  
  .highlight > .user > .icon {
    display: block;
  }

  .highlight > .user > .icon svg {
    width: 50px;
    height: 50px;
  }
  
  .user-plus {
    color: #388E3C;
  }
  
  .highlight  > .name-tag {
    display: none;
  }

  @keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
  }
  
  @keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
  }