{% load render_table from django_tables2 %}
{% load static %}
    {# Search form #}
    <form hx-get="{% url action_url %}"
          hx-target="#content-div" 
          hx-indicator=".progress"
          hx-push-url="true"
          class="form-inline">
          <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input id="id_query" type="text" class="form-control border-0 shadow-none ps-1 ps-sm-2" placeholder="Search..." aria-label="Search..." name="query"/>
                </div>
              </div>
              <!-- /Search -->
            </div>
            <input type="submit" name="submit" value="Search" class="btn btn-primary" id="submit-id-submit"/>
          </nav>
          
    </form>

    {# Progress indicator #}
    <div class="progress">
        <div class="indeterminate"></div>
    </div>

<h4 class="py-3 mb-4" style="color: #A94A4A;"><span>{{ header | capfirst}} List </span></h4>

{% render_table table %}

{% if user.is_superuser %}
  {% include "inventory/components/forms.html" %}
{% endif %}

<!-- Place the script at the bottom of the page before closing body tag -->
<script>
    function showCallPopup(phoneNumber) {
        if (confirm("Call " + phoneNumber + "?")) {
            window.location.href = 'tel:' + phoneNumber;
        }
    }
</script>